*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}
body{
  width: 100%;
  height: 100vh;
  background-image: url(background1.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: .4s all ease-in-out;
}
.box{
  display: flex;
  height: 100vh;
  justify-content: center;
}
.main{
  display: flex;
  background: #ffffff3d;
  margin: 50px 0;
  width: 90%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 20px #8d818159
}
/* model box css */
.model-box {
  color : #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  width: 100%;
}
.model-box h1 , h2{
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}
.model-box h2{
  margin-bottom: 100px;
}

.model-box h3{
  color: rgb(38, 201, 255);
  text-shadow: 1px 1px 1px rgba(6,129,167,0.28);
}
.model-box div{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: rgba(255,255,255,0.56);
  border-radius: 5px;
}
.model-box input{
  font-size: 17px;
  padding: 5px;
  margin: 10px 0;
  outline: none;
}
.model-box button{
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
}
.model-box .error{
  text-align: center;
  margin-top: 100px;
  background-color: rgba(245,110,110,0.55);
  padding: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgb(250,100,109);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.chat-container{
  display: none;
  flex-shrink: 1;
  flex-direction: column;
}
.chat-container h1{
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 1px 2px #5f5353;
  padding: 10px 0;
}
.chat-area{
  height: 100vh;
  overflow-y: auto;
  word-break: break-all;
}
.msg-box{
  background: #ffffff81;
  color: black;
  margin: 5px 10px 5px 5px;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
#username{
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 1px 1px #000000;
  text-transform: capitalize;
}
.msg-box #time{
  color: #ff2010;
  flex-shrink: 0;
  align-self: center;
  font-size: 15px;
  margin-left: 5px;
  border-bottom: 2px dashed #ff2010
}
#typing-user{
  color: #4c00ff;
  font-weight: bold;
  display: flex;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
}
.type-area{
  display: flex;
  padding-left: 5px;
  padding-bottom: 10px;
}
.type-area input, button{
  font-size: 20px;
  padding: 10px;
  outline:none;
  border: none;
}
.type-area input{
  width: 90%;
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
}
.type-area button{
  width: 100px;
  flex-shrink: 0;
  margin: 0 10px 0 5px;
  border-radius: 0 5px 5px 0;
}
.online-user{
  width: 170px;
  flex-shrink: 0;
  color: #000000;
  display: none;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
}
.themes{
  display: flex;
  justify-content: left;
  margin-top: 7px;
}
.themes div{
  display: flex;
  width: 15px;
  height: 15px;
  margin:2px;
  border-radius: 50%;
  box-shadow: 0 0 1px #979797e1;
  cursor: pointer;
}
.themes .a1{
  background: #ca4ee9;
}
.themes .a2{
  background: #fd57aa;
}
.themes .a3{
  background: #ff0396;
}
.themes .a4{
  background: #ff0263;
}
.online-user h4{
  text-align: center;
  padding: 5px 0 5px 0;
  color: #fff;
  font-size: 16px;
  text-shadow: -1px 1px 1px #635b5b;
  font-weight: bold;
}
.online-user ul{
  list-style-type: none;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 4px;
}
.online-user ul li{
  display: flex;
  font-size: 15px;
  width: 100%;
  background: #ffffff81;
  margin: 4px 0;
  padding: 5px;
  border-radius: 3px;
}
.online-user ul li > span:first-child{
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
.online-user ul li #green, #yellow{
  font-size: 20px;
  line-height: 10px;
  align-self: center;
  padding-bottom: 10px;
  padding-left: 2px;
}
#green{
  color: #10ff10;
}
#yellow{
  color: #fdec00;
}
:is(.online-user ul, .chat-area)::-webkit-scrollbar{
  width:6px;
}
:is(.online-user ul, .chat-area)::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.25);
}
:is(.online-user ul, .chat-area)::-webkit-scrollbar-thumb:hover{
  width: 10px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.chat-container h2{
  display: none;
}
.hasnain{
  font-family: cursive;
  font-size: 34px;
  font-weight: bold;
  color: #e91e63e0;
  text-shadow: 1px 1px grey;
}

@media screen and (min-width: 1000px) {
  .main{
    width: auto;
  }
  .chat-area{
    width: 800px;
    
  }
  .model-box{
    width: 500px;
    padding: 50px;
  }
}
@media screen and (max-width: 800px) {
  .online-user{
    display: none !important;
  }
  .chat-area{
    width: 100%;
    
  }
  .main{
    justify-content: center;
    width: auto;
    margin: 20px 0;
  }
  .chat-container {
    padding: 4px ;
    
  }
  .chat-container h1{
    display: none;
    
  }
  
}
